.grid {
    display: grid;
    gap: 2px; /* Optional: Adjust the gap between grid items */
    max-width: 960px; /* Adjust the maximum width of the grid container as needed */
    margin: 0 auto; /* Center the grid container horizontally */
}

.grid .filled {
    background-color: black;
}

.grid .filledPerm {
    background-color: black;
}


.grid .erase {
    background-color: gray;
}

.grid div {
    background-color: gray; /* Example background color */
    border: 1px solid black; /* Optional: Add borders to the grid items */
}

.clear {
    background-color: rgb(0, 145, 255);

}

.Title {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(117, 117, 217);
    margin-bottom: 5px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    border-color: black;
    background-color: grey;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 10px;
    height: fit-content;
    padding: 10px;
    margin: 20px;
  }

  #slider {
    margin: 15px;
  }
  